@mixin backgroundImage($url) {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-image: $url;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

@mixin lineDisplay() {
	display: inline;
}

@mixin center($horizontalPosition) {
	display: flex;
	justify-content: $horizontalPosition;
	align-items: center;
}

@mixin fixedWidth($width) {
	margin: auto;
	width: $width;
}

@mixin relativeOver($zIndex) {
	position: relative;
	z-index: $zIndex;
}

@mixin spaceEqual($direction) {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex-direction: $direction;
}

@mixin movePosition() {
	left: 3rem;
	top: 2rem;
	opacity: 1;
}
