* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

@font-face {
	font-family: $main-font;
	src: url(../font/PlayfairDisplay-Regular.ttf) format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: $main-font;
	src: url(../font/PlayfairDisplay-Italic.ttf) format("truetype");
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: $font-sans-serif;
	src: url(../font/AmaticSC-Regular.ttf) format("truetype");
	font-style: normal;
	font-weight: 400;
}

body {
	font-family: $main-font;
	font-size: 1.3rem;
	line-height: 145%;
    &::-webkit-scrollbar {
        width: 0.5em;
        &-track {
            background-color: $light-primary-color;
        }
        &-thumb {
            background-color: white;
            border-radius: 1em;
        }
    }
    h1 {
        font-size: 180%;
        font-family: $main-font;
    }
    em {
        font-style: italic;
    }
    ul li{
        list-style: none;
    }
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: $primary-color;
        }
    }
}







