body {
    font-size: 1.2rem;
    @include backgroundImage(url(../img/pexels-matej-776336.jpg));
}
.navbar {
    @include center(space-evenly);
    #name {
        width: $xbig-space;
    }
    #hamburger-menu {
        display: none;
    }
    .links {
        display: block !important;
        background: none;
        width: 100%;
        ul {
            @include center(space-evenly);
            flex-wrap: wrap;
            .navbar-links {
                margin: 0;
            }
        }
    }
}
.home {
    @include backgroundImage(url(../img/large-pc-image.jpg));
    #caption {
        padding: $minimum-space $thin-space $minimum-space $minimum-space;
    }
}
.paragraph {
    @include center(center);
    flex-flow: row nowrap;
    margin: 0 $medium-space;
    .title {
        margin-left: 0;
        padding-right: $medium-space;
        @include relativeOver(-1);
        height: 100vh;
    }
    .content {
        margin: $thin-space 0;
        @include relativeOver(1);
        opacity: 0.9;
        top: 4rem; /*position over title*/
        &:hover, &:focus, &:active { /*with tab action*/
            @include movePosition();
        }
    }
}
.strengths {
    @include spaceEqual(row);
    flex-wrap: wrap;
    .icons-strengths {
        width: $xl-space;
        margin: $minimum-space;
        img {
            width: $xbig-space;
        }
    }
}


