$main-font : Playfair;
$font-sans-serif: Amatic;
$primary-color: #a6a6a6;
$light-primary-color: #d9d9d9;
$background-white: rgba(255, 255, 255, 0.7);
$background-black: #12171a;
$secondColor: #650000;
$color-mark-second: #8b0000;
$thirdColor: #516767;
$color-mark-third: #9bb0b0;
$fourthColor: #b0b1b5;
$minimum-space: 2%;
$thin-space: 5%;
$medium-space: 10%;
$large-space: 15%;
$xl-space: 20%;
$big-space: 30%;
$xbig-space: 50%;
