@import "variables";
@import "functions";
@import "general-rules";

body {
    @include backgroundImage(url(../img/small-background.jpg));
}
/*Header and navbar*/
.navbar {
	height: 7vh;
    background-color: white;
	position: relative;
    #name {
        text-transform: uppercase;
        font-family: $font-sans-serif;
        padding-left: $thin-space;
        @include lineDisplay();
    }
    #hamburger-menu {
        @include lineDisplay();
	    position: absolute;
        right: $thin-space;
        display: inline-block;
    }
    .links {
        background-color: $background-white;
        text-align: center;
        @include center(center);
    }
    .navbar-links {
        margin-bottom: $medium-space;
    }

}

/*Home*/
.home {
    height: 93vh;
    @include backgroundImage(url(../img/small-pc-image.jpg));
    @include center(flex-end);
    #caption {
	    text-align: right;
        color: white;
        background-color: $thirdColor;
        opacity: 0.9;
        padding: $minimum-space $medium-space $minimum-space $minimum-space;
        &:hover, &:focus, &:active {
            opacity: 1;
        }
    }
}

/*Sections*/
.title {
    @include relativeOver(-1); /*position relative z-index*/
    margin-left: $large-space;
    padding: $large-space $thin-space;
    margin-top: $xl-space;
    background-color: $background-black;
    color: white;
}
.content {
    @include relativeOver(0); /*position relative z-index*/
    margin: $thin-space;
	padding: $thin-space;
	bottom: 2rem; /*position relative z-index*/
}
.about {
	background-color: $secondColor;
    .mark-pink {
	    background-color: $color-mark-second;
        &:hover, &:focus, &:active {
            opacity: 0.7;
        }
    }
}

.strengths {
	background-color: $thirdColor;
    .icons-strengths > img {
        width: $big-space;
    }
    .icons-strengths {
        margin: $large-space 0;
        text-align: center;
    }
    .mark-green {
	    background-color: $color-mark-third;
        &:hover, &:focus, &:active {
            opacity: 0.7;
        }
    }
}

.contacts {
	background-color: $fourthColor;
    #profile {
        width: $big-space;
        background-color: $primary-color;
        border-radius: $medium-space;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $medium-space;
    }
    .message-contact {
        display:block;
        width: 70%;
    }
    textarea {
        height: 30vh;
    }
    input[type="submit"], .message-contact {
        background-color: $color-mark-second;
        border: 1px solid white;
        padding: $minimum-space;
        margin: $thin-space 0;
    }
    #list-contacts li{
        display: inline;
        img {
            width: $medium-space;
            margin: $thin-space;
            &:first-child {
                margin-left: 0;
            }
        }
    }    
}

/*Footer*/
footer {
	background-color: $light-primary-color;
	padding: $minimum-space;
	margin-top: $thin-space;
}

/*Mobile styles*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
    body {
        width: 100%;
            @include displayLink(".link") /*dropdown menu displayed*/
        }
}    

/*Tablet styles*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    @import "tablet";
}

/*Laptop styles*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    @import "laptop";
}    

/*Large screens*/
@media only screen and (min-width: 1025px) {
    @import "laptop";
    .paragraph {
        margin: 0 $large-space;
    }
    
}